apiVersion: metallb.io/v1beta1 
kind: IPAddressPool 
metadata: 
  name: first-pool 
  namespace: metallb-system 
spec: 
  addresses: 
  - 192.168.122.240-192.168.122.250  # Use an available range in your network 

--- 

apiVersion: metallb.io/v1beta1 
kind: L2Advertisement 
metadata: 
  name: example 
  namespace: metallb-system 

